<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="sb-nav-fixed">
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<nav th:replace="fragments/navigation :: navigation(${activeUserName})"/>
<div id="layoutSidenav">
  <div th:replace="fragments/sidenav :: #layoutSidenav_nav(${activeUserName})"/>
  <div id="layoutSidenav_content">
    <main>

    </main>
  </div>
</div>

</body>
</html>