<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="sb-nav-fixed">
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<nav th:replace="fragments/navigation :: navigation(${activeUser})"/>
<div id="layoutSidenav">
    <div th:replace="fragments/sidenav :: #layoutSidenav_nav(${activeUser})"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container" style="margin-top: 50px";>

                <a style="size: 10px; color: navy; text-decoration: blink" th:href="@{/boards(category=${post.getCategory()})}">< 이전 게시판</a>
                <h4 th:text="${post.getTitle()}" style="margin-top: 3px"/>
                <div class="container-fluid">
                    <span style="font-size: 12px">글쓴이</span>
                    <br/>
                    <a style="font-size: 12px;" th:href="@{/profile/get(id=${post.getOwner()})}" th:text="${writer}"></a>
                    <br/>
                    <span style="font-size: 10px" th:text="LastUpdate"/>
                </div>
                <hr/>
                <span th:utext="${post.getContents()}"/>
                <hr/>
                <h5>댓글</h5>
                <!-- 2022-07-2_yeoooo : 동적 댓글 객체 추가-->
                    <!-- 2022-07-2_yeoooo : 댓글 작성자-->
                    <!-- 2022-07-2_yeoooo : 댓글 내용-->
                    <!-- 2022-07-2_yeoooo : 댓글 날짜-->
                    <!-- 2022-07-2_yeoooo : textarea;  전송 -->
                    <tr th:each="comment:${comments}">
                        <div class = "container" style="border-top: 1px solid #F2F2F2">
                            <a th:href="@{/profile/get(id=${comment.getMember().getId()})}" style = "text-decoration: blink;" th:text="${comment.getMember().getName()}"/>
                            <br>

                            <td class="col-10" th:text="${comment.getContents()}" style="font-size: 8px"/>
                            <a class="btn btn-outline-danger float-end col-1 btn-sm" th:text="삭제" th:href="@{/boards/{category}/{postId}/delete(id=${comment.getId()}, category = ${post.getCategory()}, postId = ${post.getId()})}"/>
                            <a class="btn btn-outline-warning float-end col-1 btn-sm" th:text="수정" th:action="@{/boards/{category}/{postId}/update(id = ${comment.getId()}, category = ${post.getCategory()}, postId = ${post.getId()})}"/>
                            <!-- 2022-12-17_yeoooo : 수정 버튼에 collapse나 form을 추가해야 함-->
                        </div>
                    </tr>
                <form role="form" th:action="@{/boards/{category}/{id}(id = ${post.getId()}, category=${post.getCategory()})}" th:object="${form}" method="post">
                    <container>
                        <textarea placeholder="댓글을 작성해 주세요" style="resize: none; width: 100%; height: 40%" th:field="*{content}"></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </container>
                </form>



                </div>


        </main>


    </div>
    </div>
</div>


</body>
</html>