
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class = "sb-nav-fixed">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <nav th:replace="fragments/navigation :: navigation(${activeUser})"/>
    <div id="layoutSidenav">
        <div th:replace="fragments/sidenav :: #layoutSidenav_nav (${activeUser})"/>
<!--        <div th:replace="fragments/sidenav :: #layoutSidenav_nav"/>-->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Linguine</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Here's a plate of linguistics!</li>
                    </ol>
					<div class ="row">
                        <div class="card col-xl-6 col-md-6">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                더미게시판
                            </div>
                        <div class="card-body">
                            <table id="dummyboard" class="stripe row-border hover nowrap">
                                <thead>
                                <tr>
                                    <th>게시글 번호</th>
                                    <th>제목</th>
                                    <th>게시일</th>
                                    <th>댓글 수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,i : ${posts}">

                                    <td th:text="${i.index+1}"></td>
                                    <td><a th:href="@{/boards/{category}/{id}(id=${post.getId()}, category=${post.getCategory()})}"
                                        th:text="${post.getTitle()}"></a></td>
                                    <td th:text="${post.getRegisterTime()}"></td>
                                    <td th:text="${post.getCommentsCnt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>

                        <div class="card col-xl-6 col-md-6">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                자유게시판
                            </div>
                        <div class="card-body">
                            <table id="freeboard" class="stripe row-border hover nowrap">
                                <thead>
                                <tr>
                                    <th>게시글 번호</th>
                                    <th>제목</th>
                                    <th>게시일</th>
                                    <th>댓글 수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,i : ${posts}">

                                    <td th:text="${i.index+1}"></td>
                                    <td><a th:href="@{/boards/{category}/{id}(id=${post.getId()}, category=${post.getCategory()})}"
                                        th:text="${post.getTitle()}"></a></td>
                                    <td th:text="${post.getRegisterTime()}"></td>
                                    <td th:text="${post.getCommentsCnt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>

                        <div class="card col-xl-6 col-md-6">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                리뷰게시판
                            </div>
                        <div class="card-body">
                            <table id="reviewboard" class="stripe row-border hover nowrap">
                                <thead>
                                <tr>
                                    <th>게시글 번호</th>
                                    <th>제목</th>
                                    <th>게시일</th>
                                    <th>댓글 수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,i : ${posts}">

                                    <td th:text="${i.index+1}"></td>
                                    <td><a th:href="@{/boards/{category}/{id}(id=${post.getId()}, category=${post.getCategory()})}"
                                        th:text="${post.getTitle()}"></a></td>
                                    <td th:text="${post.getRegisterTime()}"></td>
                                    <td th:text="${post.getCommentsCnt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>

                        <div class="card col-xl-6 col-md-6">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                거래게시판
                            </div>
                        <div class="card-body">
                            <table id="tradeboard" class="stripe row-border hover nowrap">
                                <thead>
                                <tr>
                                    <th>게시글 번호</th>
                                    <th>제목</th>
                                    <th>게시일</th>
                                    <th>댓글 수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post,i : ${posts}">

                                    <td th:text="${i.index+1}"></td>
                                    <td><a th:href="@{/boards/{category}/{id}(id=${post.getId()}, category=${post.getCategory()})}"
                                        th:text="${post.getTitle()}"></a></td>
                                    <td th:text="${post.getRegisterTime()}"></td>
                                    <td th:text="${post.getCommentsCnt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
            </main>
            <footer th:replace="fragments/footer :: footer" />
        </div>
    </div>
</body>
</html>